/* Définition des polices personnalisés*/
@font-face {
font-family: 'Raleway';
src: 'Font/Raleway-VariableFont_wght.ttf' format ('ttf');
font-weight: 150 980;
font-stretch: 70% 70%;
font-style: normal;
}

body {
    width: 100%;
    font-family: 'Raleway';
    margin: 0 auto;
    font-size: 16px;
    max-width: 1300px;
}
ul {list-style: none;}
a {text-decoration: none;}

/* HEADER */
header{
    width: 100%;
    height: auto;
    margin: 0 45px;
    }
#Menu {   
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
#Menu ul {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#Menu #topleft{
    width: 84.5%;
    justify-content: space-between;
    padding: 0;
}
header #logo {
    width: auto;
    height: 45px;
    padding-top: 1%;
}
#Menu #topright{
    width: 16.5%;
    padding-right: 4%;
}
#Menu li {
    margin: 0 10px;
    padding: 30px 20px;
    border-top: 3px #fff solid;

}
#Menu ul a {
    text-decoration: none;
    color: black;
}
#Menu a:visited{color: #3e8cf9;}
#Menu li:hover {
    border-top: 3px #3e8cf9 solid;
    color: #3e8cf9;
}
header h1 {font-size: 1.3em;}
header p {
    line-height: 1%;
}

#Menu ul #inscrire {
    font-weight: 700;
    color: #0065FC;
}
#Menu ul #inscrire:visited, #Menu ul #inscrire:hover
{color: #0065FC}

    /* NAV OÙ */

header #Lieu{
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 30px 0;
}
#Lieu #fondicone{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#Lieu #fondicone img {
    width: 45%;
    margin-top: 25%;
    }
#Lieu .form-control{
    width: 200px;
    border: 2px #F2F2F2 solid;
    padding-left: 20px;
    font-weight: 700;
    font-size: 1em;

}
#Lieu .bouton{
    font-size: 17px;
    font-weight: 700;
    background-color: #0065FC;
    color: white;
    padding: 15px 20px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#Lieu .fas{
    display: none;
}
     /* FILTRES */

#Filtres{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Filtres p {
    width: auto;
    font-weight: 700;
    margin-right: 20px;
}
.filtre{
    margin: 0 15px;
    border: 2px #ddd9d9 solid;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filtre .fas{
    color: #0065FC;
}
.filtre .rond{
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background-color: #DEEBFF;
    position: relative;
    left: -6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.filtre a{
    color: black;
    font-weight: 700;
    padding: 8px 15px 10px 5px;
}
.filtre:hover{
    background-color: #DEEBFF;
}
#Info {
    width: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 30px 0;
    justify-content: flex-start;
}
#info{
    color: #0065FC;
    border: 2px #dddd solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 2px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Info i {
    font-size: 0.8em;
}
/* MAIN */
main{
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
    /* SECTION 1 */
#Hebergement {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0 40px 10px 15px;
}
        /* Article Hostingframe */
#Hostingframe {
    width: 65%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 20px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Hostingframe h2, #Activites h2, #smallFrame #smallTop h2{
    margin-left: 20px;
    font-size: 20px;
}
#Hostingframe #locations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#locations figure{
    max-width: 220px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    border: 4px solid white;
    z-index: 2;
    margin: 15px 10px;
    overflow: hidden;
}
#Hostingframe img {
    max-width: 300px;
    width: 100%;
    height: 120px;
    display: block;
    z-index: 1;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit: cover;
}
#locations figcaption{
    height: 60px;
    z-index: 5;
    position: relative;
    background-color: white;
    line-height: 1.2%;
    text-align: left;
    padding-left: 10px;
}
#locations figcaption h3 {
    padding-top: 5px;
    font-size: 0.9em;
    font-weight: 800;
}
#locations figcaption p{
    font-size: 0.8em;
    padding-top: 5px;
}
#Hebergement .fas, #smallFrame figcaption .fas {
    font-size: 0.7em;
    color: #0065FC;
}
#Hostingframe #plus{
    margin-left: 20px;
    font-weight: 700;
}
        /* Aside Hostingframe */
#smallFrame {
    width: 32%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-left: 35px;
}
#smallTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#smallTop h2{
    margin-left: 35px;
    font-size: 0.9em;
    padding-top: 10px;
}
#smallTop .fas{
    font-size: 0.9em;
    color: black;
    padding-right: 35px;
}
#smallFrame figure{
    width: 80%;
    height: auto;
    max-width: 340px;
    max-height: 130px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 15px;
    border: 4px solid white;
    overflow: hidden;
    margin-top: 20px;
}
#smallFrame img{
    max-height: 150px;
    width: 100%;
    height: 100%;
    z-index: 1;
    border-bottom-right-radius: none;
    border-top-right-radius: none;
    object-fit: cover;
    object-position: left;
}
#smallFrame figcaption{
    width: 470px;
    height: 130px;
    background-color: white;
    position: relative;
    right: 10px;
    z-index: 10;
    padding-left: 20px;
    margin: 0;
}
#smallFrame figcaption h3 {
    font-size: 0.9em;
    font-weight: 800;
    margin-bottom: 5px;
}
#smallFrame figcaption p{
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
#smallFrame figcaption .fas{
    padding-top: 30px;
    font-size: 0.7em;
}
figure{
    box-shadow: 1px 2px 10px #c9c7c7;
}
    /* SECTION 2 */
        /* Article Activities left */
#Activites{
    width: auto;
    height: 100%;
    margin: 40px 0;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
#Activites h2{
    margin: 0;
}
#Activites article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#activitiesLeft, #activitiesRight{
    width: 50%;
    display: flex;
    flex-direction: row;
}
#activitiesLeft figure, #activitiesRight figure{
    width: 100%;
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#activitiesLeft figure{
    margin-left: 0;
}
                /* port & parc */
#activitiesLeft #port, #activitiesRight #parc{
    width: 45%;
    height: 440px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
    display: flex;
}
#activitiesLeft #port figcaption, #activitiesRight #parc figcaption{
    width: 100%;
    height: auto;
    padding: 2px 20px;
    z-index: 10;
    background-color: white;
    position: relative;
    bottom: 60px;
}
#activitiesLeft figcaption h3, #activitiesRight h3{
    font-size: 14px;
}
#port img, #parc img{
    width: auto;
    height: 450px;
    z-index: 1;
    object-position: right bottom;
    object-position: -170px -20px;
}
            /* aside */
#left1, #right1{
    flex-direction: column;
    z-index: 10;
    width: 45%;
}
#left1 figure, #right1 figure{
    max-width: 450px;
    max-height: 100%;
    margin: 30px 10px;
    overflow: hidden;
}

                /* fort */
#left1 #fort, #left1 #iles{
    width: 100%;
    height: auto;
    max-height: 230px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 0;
}
#left1 #fort img{
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 220px;
    object-fit: cover;
}
#fort figcaption{
    width: 100%;
    height: auto;
    padding: 2px 20px;
    z-index: 10;
    background-color: white;
    position: relative;
    bottom: 40px;
}
                /* iles */
#left1 #iles{
    max-height: 170px;
}
#left1 #iles img{
    width: 100%;
    height: 130px;
    object-fit: cover;
    object-position: 100% 10%;
}
#iles figcaption{
    position: relative;
    bottom: 10px;
    padding: 2px 20px;
    z-index: 10;
    background-color: white;
}

        /* Activities right */
            /* Aside right */
#right1 figure{
    width: 100%;
    height: 100%;
    max-height: 200px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#right1 img{
    width: 100%;
    height: 250px;
    object-fit: scale-down;
    object-position: center top;
    object-position: 0px 50px;
}
#right1 figcaption{
    max-height: 50px;
    position: relative;
    bottom: 50px;
    padding: 3px 20px;
    z-index: 10;
    background-color: white;
}

/* FOOTER */

footer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: flex-start;
    padding: 20px 20px;
}
.link{
    width: 32%;
}
footer h4{
    margin-left: 40px;
    margin-bottom: 0;
}
footer ul{
    margin-top: 10px;
}
footer a{
    color: black;
    font-size: 0.8em;
}

/*---------- RESPONSIVE ------------*/

@media all and (max-width: 510px)
{
    body {
        width: 100%;
        max-width: 500px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 auto;
            }
    /* HEADER */
    
    header{
        width: 100%;
        margin: 0 auto;
    }
    #Menu{
        align-items: center;
        margin-top: 10px;
        text-align: center;
    }
    #Menu #topleft{
        width: 50%;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 13px;
        border-bottom: 3px #3e8cf9 solid;
    }
    #topleft img{
        width: 45%;
        height: auto;
        padding-left: 20px;
    }
    #Menu #topright{
        width: 45%;
        margin-top: 0;
        flex-direction: column-reverse;
        justify-content: flex-end;
        border-bottom: 3px #F2F2F2 solid;
    }
    #Menu li, #Menu li:hover{
        border-top: none;
        padding-bottom: 10px;
    }
    #Menu #topleft a, #Menu #topright a{
        color: #3e8cf9;
    }
    #topright #act a{
        color: black;
    }
    #Menu #inscrire {
        text-align: right;
    }
    header h1 {
        margin-top: 20px;
        font-size: 1.4em;
    }
    header h1, header p, #Lieu, #Filtres{
        margin-left: 20px;
    }
    header p{
        height: auto;
        margin-bottom: 30px;
        line-height: normal;
    }
    /* NAV OÙ */
    #Lieu{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #Lieu .form-control{
        width: 63%;
        border-right: none;
    }
    #Lieu .bouton{
        display: none;
    }
    #Lieu :nth-child(3n){
        width: 50px;
        height: 50px;
        background-color: #3e8cf9;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        right: 10px;
        margin-left: 10px;
    }
    #Lieu .fas{
        display: block;
        color: white;
        font-size: 1.2em;
}
    /* FILTRES */
    #Filtres{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    #Filtres p{
        width: 100%;
        display: block;
        margin: 0 0 10px 10px;
        font-size: 18px;
    }
    #Filtres :nth-child(4n){
        margin-right: 90px;
    }
    .filtre{
        margin: 6px 8px;
    }
    .filtre .rond{
        width: 50px;
        height: 50px;
    }
    .filtre .fas {
        font-size: 1.2em;
    }
            /* INFO */
    header #Info{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: baseline;
        margin: 10px 0;
    }
    #Info #info{
        width: 28px;
        margin-left: 30px;
        margin-right: 0px;
    }
    header #Info p{
        font-size: 18px;
        flex-wrap: wrap;
        text-align: left;
    }
    /* Section 1 */
    
    #Hebergement{
        width: 100%;
        flex-direction: column-reverse;
        margin: 0;
        padding: 0;
    }
    #Hebergement h2, #smallFrame #smallTop h2, #Activites h2{
        font-size: 1.4em;   
    }
    #smallFrame{
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
    }
    #smallTop h2{
        padding-left: 20px;
    }
    #smallTop .fas{
        font-size: 20px;
        padding-right: 45px;
    }
    #smallFrame figure{
        max-width: 100%;
    }
    #smallFrame figcaption{
        width: 160%;
        height: auto;
    }
    #Hostingframe{
        width: auto;
        background-color: white;
    }
    #Hostingframe figure{
        max-width: 100%;
        height: 200px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #Hostingframe figure img{
        max-width: 100%;
        height: 131px; 
        object-position: center top;
        object-position: 50% 50%;
    }
    #Hostingframe figure figcaption{
        height: 30px;
    }
    #Hostingframe figure figcaption h3, #smallFrame figure figcaption h3, #plus{
        font-size: 17px;
        padding-top: 0;
    }
    #Hostingframe figure figcaption p, #smallFrame figure figcaption p{
        font-size: 14px;
    }
    /* Section 2 */
    main #Activites{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    #Activites article{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    #activitiesLeft, #activitiesRight{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    #Activites article #activitiesLeft figure, #Activites article #activitiesRight figure, #left1, #right1, #activitiesLeft #port, #activitiesRight #parc, #Activites article #left1 #fort, #Activites article #left1 #iles, #right1 figure{
        width: 100% !IMPORTANT;
        height: 200px;
        margin: 10px 0;
    }
    #Activites #activitiesLeft figure img{
        width: 100% !IMPORTANT;
        height: 170px;
        object-fit: cover;
        object-position: center;
    }
    
    
    
    
    /* Footer */
    
    footer{
        margin: 0;
        padding: 0;
        flex-direction: column;
    }
}