/* Définition des polices personnalisés*/
@font-face {
font-family: 'Raleway';
src: 'Font/Raleway-VariableFont_wght.ttf' format ('ttf');
font-weight: 150 980;
font-stretch: 70% 70%;
font-style: normal;
}

body {
    width: 100%;
    font-family: 'Raleway';
    margin: 0 auto;
}
main{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
ul {list-style: none;}
a {text-decoration: none;}

/* HEADER UPPER */
#top {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0 auto;

}
header #logo {
    width: auto;
    height: 45px;
    margin-top: 3%;
}
#Menu {
    width: 70%;
    height: auto;
}
#Menu ul {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*pointer-events: none;*/
}
#Menu li {
    margin: 0 10px;
    padding: 30px 20px;
    border-top: 3px #fff solid;

}
#Menu ul a {
    font-size: 0.7em;
    text-decoration: none;
    color: black;
}
#Menu a:visited{color: #3e8cf9;}
#Menu li:hover {
    border-top: 3px #3e8cf9 solid;
    color: #3e8cf9;
}
header h1 {font-size: 0.9em;}
header p {
    font-size: 0.65em;
    line-height: 1%;
}

#Menu ul #inscrire {
    font-weight: 700;
    color: #0065FC;
}
#Menu ul #inscrire:visited, #Menu ul #inscrire:hover
{color: #0065FC}
/* HEADER LOWER */
    /* OU */

header #Lieu{
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 30px 0;
}
#Lieu #fondicone{
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#Lieu #fondicone img {
    width: 50%;
    margin-top: 25%;
    }
#Lieu .form-control{
    width: 200px;
    font-size: 0.7em;
    border: 2px #F2F2F2 solid;
    padding-left: 20px;
    font-weight: 700;
}
#Lieu .bouton{
    font-size: 0.7em;
    font-weight: 700;
    background-color: #0065FC;
    color: white;
    padding: 15px 20px;
    border: none;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
     /* FILTRES */

#Filtres{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#Filtres p {
    font-size: 0.8em;
    font-weight: 700;
    margin-right: 20px;
}
.filtre{
    margin: 0 15px;
    border: 2px #ddd9d9 solid;
    border-radius: 50px;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.filtre .fas{
    color: #0065FC;
    font-size: 0.75em;
}
.filtre .rond{
    border-radius: 50%;
    width: 50px;
    height: 49px;
    background-color: #DEEBFF;
    position: relative;
    left: -5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.filtre a{
    font-size: 0.7em;
    color: black;
    font-weight: 700;
    padding: 10px 20px 10px 5px;
}
.filtre:hover{
    background-color: #DEEBFF;
}
#Info {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    margin: 30px 0;

}
#info{
    color: #0065FC;
    border: 2px #dddd solid;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Info i {
    font-size: 0.6em;
}
#Info p {
    padding-left: 10px;
    font-size: 0.65em;
}

/* MAIN */
    /* SECTION 1 */
        /* Article Hostingframe */
#Hebergement {
    display: flex;
}
#Hostingframe {
    width: 70%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px 10px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
#Hostingframe h2, #Hostingframe #plus, #Activites h2{
    margin-left: 20px;
    font-size: 0.9em;
}
#Hostingframe #locations{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
#locations figure{
    max-width: 230px;
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px;
    border: 5px solid white;
    z-index: 2;
    margin: 17px 15px;
    overflow: hidden;
}
#Hostingframe img {
    max-width: 300px;
    width: 100%;
    height: 110px;
    display: block;
    z-index: 1;
    border-radius: 20px;
    transform: scale(1.2);
    transform-origin: 3px bottom right;
}
#locations figcaption{
    height: 70px;
    z-index: 5;
    position: relative;
    background-color: white;
    line-height: 1.2%;
    text-align: left;
    padding-left: 10px;
}
#locations figcaption h3 {
    padding-top: 15px;
    font-size: 0.65em;
    font-weight: 800;
}
#locations figcaption p{
    font-size: 0.6em;
    padding-top: 5px;
}
#Hebergement .fas, #smallFrame figcaption .fas {
    font-size: 0.5em;
    color: #0065FC;
}
#Hostingframe #plus{
    font-size: 0.8em;
    font-weight: 700;
}
        /* Aside Hostingframe */
#smallFrame {
    width: 30%;
    height: 100%;
    background-color: #F2F2F2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    margin-left: 30px;
}
#smallTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#smallTop h2{
    margin-left: 35px;
    font-size: 0.9em;
    padding-top: 10px;
}
#smallTop .fas{
    font-size: 0.9em;
    color: black;
    padding-right: 35px;
}
#smallFrame figure{
    width: 80%;
    max-height: 125px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    border: 5px solid white;
}
#smallFrame img{
    max-height: 125px;
    width: 150%;
    height: auto;
    z-index: 1;
    border-radius: 20px;
}
#smallFrame figcaption{
    width: 470px;
    height: 130px;
    background-color: white;
    position: relative;
    left: -20px;
    z-index: 10;
    padding-left: 20px;
    margin: 0;
}
#smallFrame figcaption h3 {
    font-size: 0.6em;
    font-weight: 800;
}
#smallFrame figcaption p{
    font-size: 0.6em;
    padding: 0;
    margin: 0;
}
#smallFrame figcaption .fas{
    padding-top: 25px;
}
figure{
    box-shadow: 1px 2px 20px #c9c7c7;
}
    /* SECTION 2 */
        /* Article Activities left */
#Activites{
    width: auto;
    height: 100%;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
}
#Activites article{
    display: flex;
    flex-direction: row;
}
#activitiesLeft, #activitiesRight{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#activitiesLeft figure, #activitiesRight figure{
    width: 100%;
    margin: 30px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#activitiesLeft figure{
    margin-left: 0;
}
                /* port */
#activitiesLeft #port, #activitiesRight #parc{
    width: 45%;
    height: 400px;
    overflow: hidden;
    border-radius: 20px;
    z-index: 1;
}
#activitiesLeft #port figcaption, #activitiesRight #parc figcaption{
    width: 100%;
    height: auto;
    padding: 2px 20px;
    z-index: 10;
    background-color: white;
    position: relative;
    top: -90px;
}
#activitiesLeft figcaption h3, #activitiesRight h3{
    font-size: 0.7em;
}
#port img, #parc img{
    width: auto;
    height: 430px;
    z-index: 1;
}
            /* aside */
#left1, #right1{
    flex-direction: column;
    z-index: 10;
    width: 45%;
}
#left1 figure, #right1 figure{
    max-width: 450px;
    max-height: 100%;
    margin: 30px 10px;
    overflow: hidden;
}

                /* fort */
#left1 #fort, #left1 #iles{
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
    margin-right: 0;
}
#left1 #fort img{
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 200px;
}
#fort figcaption{
    width: 100%;
    height: auto;
    padding: 2px 20px;
    z-index: 10;
    background-color: white;
    position: relative;
    top: -60px;
}
                /* iles */
#left1 #iles{
    max-height: 160px;
}
#left1 #iles img{
    width: 100%;
    height: 120px;
}
#iles figcaption{
    position: relative;
    top: -20px;
    padding: 5px 20px;
    z-index: 10;
    background-color: white;
}
#iles figcaption h3{
    position: relative;
    top: -5px;
}
        /* Aticle Activities right */
            /* Aside right */
#right1 figure{
    width: 100%;
    height: 100%;
    max-height: 180px;
    max-width: 400px;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#right1 img{
    width: auto;
    height: 100%;
    max-height: 250px;
}
#right1 figcaption{
    max-height: 50px;
    position: relative;
    top: -65px;
    padding: 3px 20px;
    z-index: 10;
    background-color: white;
}

/* FOOTER */

footer{
    width: 75%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    justify-content: center;
    padding: 20px 10px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.link{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
footer h4{
    font-size: 0.8em;
    margin-left: 40px;
    margin-bottom: 0;
}
footer ul{
    margin-top: 10px;
}
footer a{
    color: black;
    font-size: 0.7em;
}

/*---------- RESPONSIVE ------------*/

@media all and (max-width: 770px)
{
    body {
        width: 90%;
    }
    #Menu .deux {
        font-size: 1.5em;
        justify-content: space-between;
        top: 15%;
        margin-top: 100px;
        padding-top: 30px;
        left: 0;
    }
    #Menu .deux:hover {
        border-top: none;
        border-bottom: 3px #3e8cf9 solid;
        color: #3e8cf9;
    }
    #Menu #inscrire {
        position: absolute;
        top: -3px;
        color: red;
    }
    header h1 {
        margin-top: 50px;
    }
}